@charset "UTF-8";


/* Geral */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* Cores */
    --cor0:#0E552C;
    --cor1:#22D46C;
    --cor2:#1CB25B;
    --cor3:#87ebb1;
}

a {
    text-decoration: none;
}

/* Cabeçalho */
header {
    background-color: #1CB25B;
    height: 130px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    position: fixed;
    top: 1px;
    left: 5px;
    width: 150px;
    z-index: 11;
    border-radius: 20%;
    transition: border-radius .7s;
}

.hamburger {
    position: fixed;
    top: 70px;
    right: 40px;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    z-index: 11;
}

.hamburger::before,
.hamburger::after {
    content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

.hamburger:hover {
    transform: scale(1.2);
    transition: all .4s;    
}

nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--cor2);
    margin-inline: auto;
    text-align: center;
    clip-path: circle(0% at 100% 0%);
    transition: clip-path .9s ease-in-out;
    z-index: 10;
    overflow-y: auto;
    pointer-events: auto;
}


.menu-lista {
    font-size: 1.5em;
    margin-top: 110px;
    list-style: none;
}

.menu-lista li {
    padding-top: 60px;
}

.menu-lista a {
    color: white;
    opacity: 0;
    pointer-events: auto;
}

.menu-lista li:nth-child(1) a {
    transition: 0.3s .2s;
}

.menu-lista li:nth-child(2) a {
    transition: 0.3s .4s;
}

.menu-lista li:nth-child(3) a {
    transition: 0.3s .5s;
}

.menu-lista li:nth-child(4) a {
    transition: 0.3s .6s;
}

.menu-lista li:nth-child(5) a {
    transition: 0.3s .8s;
}

.menu-lista a:hover {
    background-color: white;
    color: #0E552C;
    padding-block: 20px;
    padding-inline: 5px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
    transition: all .2s;
}

/* Menu ativo */

nav.abrir {
    clip-path: circle(150% at 50% 50%);
}

nav.abrir .menu-lista a {
    opacity: 1;
}

.hamburger.ativo {
    border-top-color: transparent;
}

.hamburger.ativo::before {
    transform: rotate(135deg);
}

.hamburger.ativo::after {
    transform: rotate(-135deg);
    top: -7px;
}

.swiper.invisible {
    opacity: 0;
    pointer-events: none;
}

/* conteúdo */
.swiper {
    background: rgba(252, 230, 201, 0.075);
    opacity: 1;
    transition: opacity .5s ease;
    z-index: 1;
}

.swiper-slide {
    text-align: center;
    z-index: 0;
}

.slide-img {
    width: 100vw;
    height: 250px;
}